/* app/globals.css */
@import "tailwindcss";

/* Definición de colores para v4 */
@theme {
  --color-primary: #e77e23;
  --color-primary-dark: #d66d12;
  --color-background-light: #ffffff;
  --color-background-dark: #f8f7f6;
}

/* Estilos específicos del ERP: Forzar bordes cuadrados */
.form-input,
button,
input,
.login-box {
  border-radius: 0 !important;
}

/* Aseguramos que el fondo del body sea siempre claro por ahora */
body {
  background-color: var(--color-background-light);
}

/* Iconos de Material Symbols */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}